.box {
    background: blue;
    width: 200px;
    height: 200px;
    color: white;
    font-size: 100px;
}


.wrapper {
    display: flex;
    flex-direction: row;
    /* Main Axis*/
    justify-content: space-around;
    /* Cross Axis*/
    align-items: flex-start;
    height: 500px;
}

.box:nth-child(2) {
    align-self: center;
    order:1;
}

.box:nth-child(3) {
    align-self: flex-end;
}